  <!----------Navbar---------->
  <nav class="navbar navbar-expand-lg navbar-light" id="navbar">
    <img src="logo.png" class="navbar-brand" style="width:150px"/>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
        <a class="nav-item nav-link active" href="dashboard.php">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="personalinfo.html">Profile</a>
        <a class="nav-item nav-link" href="form.php">Upload</a>
        <a class="nav-item nav-link" href="#">Contact Us</a>
        </div>
    </div>
    </nav>
<!----------Navbar END---------->

<div class="container">


<hr/>


<form #orderForm="ngForm" (ngSubmit)="onSubmit(orderForm.value)">
  <div class="form-group">
    <label>Food </label>
    <input type="text" class="form-control" name="food" [(ngModel)]="orderModel.food">
  </div>

  <div class="form-group">
    <label>Calories </label>
    <input type="number" class="form-control" name="calories" [(ngModel)]="orderModel.calories">
  </div>

  <div class="form-group">
    <label>Protein (grams) </label> 
    <input type="number" class="form-control" name="protein" [(ngModel)]="orderModel.protein">
  </div>

  <div class="form-group">
    <label>Carbohydrates (grams) </label> 
    <input type="number" class="form-control" name="carbohydrates" [(ngModel)]="orderModel.carbohydrates">
  </div>

  <div class="form-group">
    <label>Fat (grams) </label> 
    <input type="number" class="form-control" name="fat" [(ngModel)]="orderModel.fat">
  </div>

  <!--  using [ngClass] attribute directive -->
  <button [ngClass]="['btn', 'btn-primary']"
          (click)="confirmOrder(orderForm.value)"
          title="always enabled"
          name="action">Add</button>

  &nbsp;&nbsp;&nbsp;&nbsp;

</form>

<hr/>
<h3>Food Entry Details</h3>
  <!--  using [ngStyle] attribute directive -->
  <font [ngStyle]="{'font-style': 'italic', 'color': 'green'}">
    <!-- If confirm_msg is not empty, display confirm message, otherwise, display default text -->
    <!-- using ngIf structural directive -->
    {{ (confirm_msg.length > 0)? confirm_msg : '' }}</font> <br/>
<hr/>



</div>

<br/><br/><br/>

<!-- use of ngSwitch -->
Nutritional facts I want to learn more about:
<select ng-model="myVar">
  <option value="pro">Protein
  <option value="carb">Carbohydrates
  <option value="fa">Fat
</select>

<br/><br/><br/>



